body {
  font-family: 'SF Pro', sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  margin: 0;
  color: #fff;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #666;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ios-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  width: 200px;
  height: 40px;
}

.ios-button:hover {
  background-color: #0069d9;
}

.portrait-container {
  display: none; /* Ensure this is set to 'none' */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#video-container {
  height: auto;
  width: 100%;
  max-height: 90%;
  aspect-ratio: 9 / 16; /* Maintain a portrait aspect ratio */
  padding: 0; /* Remove padding */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box-shadow */
  border-radius: 0; /* Remove border-radius */
  background-color: #282c34; /* Make background transparent */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  position: relative; /* Added for positioning top and bottom buttons */
}

#player {

  width: 95%;
  height: 75%;
  border: 2px solid #111;
  box-shadow: 0 0 50px #111;
  border-radius: 10px;
  object-fit: cover; /* Ensure the video covers the element */
}

.top-buttons {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.bottom-buttons {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#photo-capture-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#video-capture-button {
  position: absolute;
  left: 65%;
  transform: translateX(-50%);
}


#gallery-button, #photo-capture-button, #video-capture-button,#switch-camera, #flash-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all .15s ease-in-out;
  opacity: 0.8;
  outline: none;
  font-size: 24px;
  color: black;
  margin: 0 10px; 
}

#flash-toggle.active {
  background-color: #f0ad4e; /* Change to a color indicating active state */
}


#end-session {
  width: 300px; /* make the button width same as the player width */
  margin-top: -30px; /* adjust the margin from top as needed */
}

#output {
  display: none;
}

.gallery-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: none; /* Hide by default */
}

.gallery-popup.show {
  display: block;
}
.popup-header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the h2 element */
  position: relative; /* Allows absolute positioning of the button */
}

.popup-header button {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 20px; /* Move the button to the left */
  vertical-align: middle;
}

.popup-header h2 {
  font-size: 30px;
  margin: 0; /* Remove default margin */
}

.popup-content {
  padding: 20px;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .button-container {
    flex-direction: column;
  }
  .ios-button {
    font-size: 14px;
    padding: 8px 16px;
    width: 150px;
    height: 35px;
  }
  #video-container {
    height: auto;
    width: 100%;
  }
}
